#OS junk files
    [Tt]humbs.db
    *.DS_Store
    
    #Visual Studio files
    *.[Oo]bj
    *.user
    *.aps
    *.pch
    *.vspscc
    *.vssscc
    *_i.c
    *_p.c
    *.ncb
    *.suo
    *.tlb
    *.tlh
    *.bak
    *.[Cc]ache
    *.ilk
    *.log
    *.lib
    *.sbr
    *.sdf
    *.pyc
    *.xml
    slnx.sqlite
    ipch/
    obj/
    [Bb]in
    [Dd]ebug*/
    [Rr]elease*/
    Ankh.NoLoad
    
    #Tooling
    _ReSharper*/
    *.resharper
    [Tt]est[Rr]esult*
    
    #Project files
    [Bb]uild/
    
    #Subversion files
    .svn
    
    # Office Temp Files
    ~$*
*.vsidx
/.vs/ConnectFour/v17/.suo
/ConnectFour/bin/Debug/ConnectFour.exe
/ConnectFour/bin/Debug/ConnectFour.exe.config
/ConnectFour/bin/Debug/ConnectFour.pdb
/ConnectFour/obj/Debug/ConnectFour.csproj.AssemblyReference.cache
/ConnectFour/obj/Debug/ConnectFour.csproj.CoreCompileInputs.cache
/ConnectFour/obj/Debug/ConnectFour.csproj.FileListAbsolute.txt
/ConnectFour/obj/Debug/ConnectFour.csproj.GenerateResource.cache
/ConnectFour/obj/Debug/ConnectFour.csproj.SuggestedBindingRedirects.cache
/ConnectFour/obj/Debug/ConnectFour.exe
/ConnectFour/obj/Debug/ConnectFour.GameForm.resources
/ConnectFour/obj/Debug/ConnectFour.MainMenuForm.resources
/ConnectFour/obj/Debug/ConnectFour.pdb
/ConnectFour/obj/Debug/ConnectFour.Properties.Resources.resources
